/* HomePage.css */

.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.map-container {
  flex: 1;
  position: relative;
  z-index: 0;
}

.navbar {
  background-color: #1d3f56;
  color: rgb(106, 184, 245);
  padding: 10px 20px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar.span{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;
  text-align: center;
  margin-left: 50px;

}
.leaflet-popup-content {
  font-size: 1rem;
  text-align: center;
}