.navbar {
  background-color: #abbfd4 !important; /* Blue color */
  color: #d5ddf0 !important; /* White text color */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: larger;
}


